#poster {
  display: grid;
  grid-gap: 0.8em;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: 1.618fr max-content 1fr auto;
}

#kazi,
#elman-awal {
  grid-row: 2/3;
}

#kazi,
#elman-awal,
h2 {
  line-height: 1;
}

#kazi,
#elman-awal,
#show-work,
#show-poster,
h2 {
  font-size: var(--step-5);

  @media (min-width: 485px) {
    font-size: var(--step-7);
  }

  @media (min-width: 768px) {
    font-size: var(--step-8);
  }

  @media (min-width: 1920px) {
    font-size: var(--step-9);
  }
  @media (min-width: 2560px) {
    font-size: var(--step-10);
  }
}

#elman-awal {
  grid-column: 3/-1;
  justify-self: end;

  @media (min-width: 485px) {
    justify-self: initial;
    margin-left: -0.0333em;
  }
}

#elman-awal,
#description {
  white-space: nowrap;
}

#description {
  grid-column: 3/-1;
  grid-row: 4/-1;

  text-align: right;
  @media (min-width: 485px) {
    text-align: initial;
  }
}

#description,
li {
  font-size: var(--step-0);
  &:first-of-type {
    max-width: 40ch;
  }
  @media (min-width: 485px) {
    font-size: var(--step-2);
  }
  @media (min-width: 768px) {
    font-size: var(--step-3);
  }
  @media (min-width: 1920px) {
    font-size: var(--step-4);
  }
  @media (min-width: 2560px) {
    font-size: var(--step-5);
  }
  @media (min-width: 3840px) {
    font-size: var(--step-6);
  }
}

#work {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  opacity: 0;
}

#show-work {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: start;
}

#work-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.kazi-notyf {
  color: black;

  @media (min-width: 768px) and (orientation: landscape) {
    border: 1px solid #666666;
    border-radius: 8px;
    line-height: 1.2;
  }
}
