$rfs-breakpoint: 4000px;
@import '~rfs/scss';

@font-face {
  font-family: 'Radio Grotesk';
  font-display: fallback;
  src: url('../fonts/RadioGrotesk-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

html {
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
p {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  font-family: 'Radio Grotesk', Helvetica, sans-serif;
  font-kerning: normal;
  font-variant-ligatures: normal;
  text-rendering: geometricPrecision;
  line-height: 1.2;
}