@import "animations";
@import "typography";

@font-face {
  font-family: "Radio Grotesk";
  src: url("../fonts/RadioGrotesk-Bold.woff2") format("woff2");
  font-display: fallback;
}

html {
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::after:focus:not(:focus-visible),
*::before:focus:not(:focus-visible),
*:focus:not(:focus-visible) {
  outline: none;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0.01ms !important;
  }
}

body,
h1,
h2,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);

  background: black;
  
  font-family: "Radio Grotesk", Helvetica, sans-serif;
  font-kerning: normal;
  font-variant-ligatures: normal;
  text-rendering: optimizeLegibility;
  line-height: 1.2;
}

%plain-list {
  list-style: url("data:image/svg+xml,%3Csvg xmlns='https://www.w3.org/2000/svg'/%3E");
  padding-left: 0;
}

%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
  white-space: nowrap;
}
