@import "animations.css";
@import "typography.css";

html {
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 1ms !important;
  }
}

body,
h1,
p {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white;
  }
}
