@import 'animations.css?v=1.0.1';
@import 'typography.css?v=1.0.1';

:root {
    --black: hsla(0, 0%, 5%, 1);
    --white: hsla(0, 0%, 95%, 1);
}

html {
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
p {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    scroll-behavior: smooth;
    background: var(--white);
    color: var(--black);
}

a {
    text-decoration-skip-ink: auto;
    color: var(--black);
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: var(--black);
        color: var(--white);
    }
    a {
        color: var(--white);
    }
}
