@import 'reset';

h1 {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
  white-space: nowrap;
}

.poster {
  position: relative;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;

  @include padding(1.618rem);

  @media (min-width: 1280px) {
    @include padding(2.618rem);
  }
  @media (min-width: 1920px) {
    @include padding(4.236rem);
  }

  display: grid;
  @include rfs(.382rem, grid-gap);
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: 4.236fr max-content 2.618fr auto;

  animation: woo 30s ease-in-out infinite;
}

@keyframes woo {
  0% {
    background: #C6FFDD;
  }

  33% {
    background: #FBD786;
  }

  66% {
    background: #F7797D;
  }

  100% {
    background: #C6FFDD;
  }
}

#kazi, #elman-awal{
  grid-row: 2/3;

  @include font-size(4.236rem);
  line-height: 1;

  @media (min-width: 1920px) {
    @include font-size(6.854rem);
  }
}

#elman-awal {
  grid-column: 3/-1;
  justify-self: end;

  white-space: nowrap;

  @media (min-width: 485px) {
    justify-self: initial;
    margin-left: -.05em;
  }
}

.work {
  grid-column: 3/-1;
  grid-row: 4/-1;

  @include font-size(1rem);
  text-align: right;

  @media (min-width: 485px) {
    @include font-size(1.618rem);
    text-align: initial;
  }

  @media (min-width: 1920px) {
    @include font-size(2.618rem);
  }
}