@font-face {
  font-family: "Agrandir";
  src: url("../fonts/Agrandir-Variable.woff2?v=1.0.2")
      format("woff2 supports variations"),
    url("../fonts/Agrandir-Variable.woff2?v=1.0.2") format("woff2-variations");
  font-weight: 100 900;
  font-stretch: 50% 200%;
  font-display: fallback;
}

body {
  font-family: "Agrandir", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  font-variant-ligatures: normal;
  line-height: 1.2;
}

@media (prefers-color-scheme: dark) {
  body {
    line-height: 1.3;
  }
}

:root {
  --step--2: clamp(0.6944rem, 0.6885rem + 0.0294vw, 0.7638rem);
  --step--1: clamp(0.8331rem, 0.799rem + 0.1708vw, 1.2363rem);
  --step-0: clamp(1rem, 0.9153rem + 0.4237vw, 2rem);
  --step-1: clamp(1.2rem, 1.0274rem + 0.8628vw, 3.2363rem);
  --step-2: clamp(1.44rem, 1.1183rem + 1.6083vw, 5.2356rem);
  --step-3: clamp(1.7281rem, 1.1566rem + 2.8575vw, 8.4719rem);
  --step-4: clamp(2.0738rem, 1.0879rem + 4.9293vw, 13.7069rem);
  --step-5: clamp(2.4881rem, 0.8195rem + 8.3432vw, 22.1781rem);
}
