<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="charset" content="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width,initial-scale=1,shrink-to-fit=no"
    />
    <meta name="theme-color" content="#FFF"/>
    <title><%= htmlWebpackPlugin.options.title %></title>

    <meta property="og:title" content="Kazi’s Website"/>
    <meta property="og:image" content="<%= require('./og.jpg').default %>"/>
    <meta property="og:image:alt" content="Kazi’s face"/>
    <meta property="og:description" content="Some proof that Kazi can code"/>

    <meta name="twitter:title" content="Kazi’s Website"/>
    <meta name="twitter:image" content="<%= require('./og.jpg').default %>"/>
    <meta name="twitter:image:alt" content="Kazi’s face"/>
    <meta name="twitter:description" content="Some proof that Kazi can code"/>

    <link rel="canonical" href="https://kazielmanawal.me"/>
    <link
            rel="preload"
            crossorigin="anonymous"
            href="./<%= require('./fonts/Agrandir-Variable.woff2').default %>"
            as="font"
            type="font/woff2"
    />
    <link rel="shortcut icon" href="./<%= require('./favicon.png').default %>">
</head>

<body>
<main>
    <h1>Hi, I’m <span id="kazi">Kazi</span>, a front-end developer at <span id="link"><a
            href="https://restofworld.org/">rest of world</a></span>.</h1>
    <p>Sometimes I <a href="https://twitter.com/superkazi">tweet</a>. If you’d like, you can find out more about me <a
            href="https://www.linkedin.com/in/superkazi/">here</a>.</p>
</main>
</body>
</html>
