.shape {
  position: absolute;
  pointer-events: none;
  mix-blend-mode: exclusion;
  top: 0;
  left: 0;
  background: var(--white);
}

#square {
  width: 33.333vw;
  height: 33.333vw;
}

#circle, #triangle {
  width: 36.666vw;
  height: 36.666vw;
}

#circle {
  border-radius: 50%;
}

#triangle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
